
// Definições padrão
*{
  padding: 0;
  margin: 0;
}

// Margin top
.mt-20 {
   margin-top: 20px;
}
.mt-60 {
   margin-top: 60px;
}
.mt-40 {
   margin-top: 40px;
}
.ml-5 {
   margin-left: 5px;
}

// Tamanhos
.full-width {
 width: 100%;
}

a{
   border-radius: 5px;
   display: flex;
   justify-content: center;
   gap: 8px;
   padding: 8px;
   margin-left: 20px;
   justify-items: center;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: #fff;
}

a.mat-button:active,
a.mat-list-item:active {
  opacity: 0.6; /* fica mais transparente ao clicar */
  transition: opacity 0.2s;
}